.footer {
    padding: 2em 0 2em 0;
}

.navFooter {
    margin-bottom: 1em;
}

.footerNavLink {
    margin-left: 3.33em;

    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;

    transition: 0.3s all;
}

.footerNavLink:first-child {
    position: relative;
}

.footerNavLink:first-child::before {
    display: block;
    width: 35px;
    height: 35px;
    content: '';
    position: absolute;
    top: -18px;
    left: -27px;
    background-image: url(../../../public/image/coffee-beans-footer.svg);
}

.footerNavLink:hover {
    text-decoration: underline;
    color: rgb(240, 186, 105);
}

@media (max-width: 430px) {
    .footerNavLink {
        margin-left: 1.33em;
    }
}
