body {
    font-family: 'Merienda', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline;
}

.App {
    text-align: center;
}

.active {
    color: rgb(240, 186, 105);
}
